<!-- for trajectory tracking -->
<launch>
  <arg name="world_name" default="basic"/>
  <arg name="enable_logging" default="false"/>
  <arg name="enable_ground_truth" default="true"/>
  <arg name="mav_name" default="firefly" />

  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find rotors_gazebo)/models"/>
  <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find rotors_gazebo)/models"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!--<arg name="world_name" value="$(find rotors_gazebo)/worlds/$(arg world_name).world"/>-->
<!--    <arg name="world_name" value="$(find rotors_gazebo)/worlds/drone_inv.world"/>-->
    <arg name="world_name" value="$(find rotors_gazebo)/worlds/maze3.world"/>



<!-- <arg name="debug" value="true"/> -->
    <arg name="paused" value="false"/>
    <!-- <arg name="gui" value="false"/> -->
  </include>


<group ns="$(arg mav_name)1">
    <include file="$(find rotors_gazebo)/launch/spawn_mav.launch">
      <arg name="mav_name" value="$(arg mav_name)" />
      <arg name="namespace" value="$(arg mav_name)1" />
      <arg name="model" value="$(find rotors_description)/urdf/mav_generic_odometry_sensor.gazebo" />
      <arg name="enable_logging" value="$(arg enable_logging)" />
      <arg name="enable_ground_truth" value="$(arg enable_ground_truth)" />
      <arg name="log_file" value="$(arg mav_name)1"/>
      <arg name="y" value="0.0"/>
      <arg name="x" value="1.2"/>

   </include>
</group>



  <group ns="$(arg mav_name)2">
    <include file="$(find rotors_gazebo)/launch/spawn_mav.launch">
      <arg name="mav_name" value="$(arg mav_name)" />
      <arg name="namespace" value="$(arg mav_name)2" />
      <arg name="model" value="$(find rotors_description)/urdf/mav_generic_odometry_sensor.gazebo" />
      <arg name="enable_logging" value="$(arg enable_logging)" />
      <arg name="enable_ground_truth" value="$(arg enable_ground_truth)" />
      <arg name="log_file" value="$(arg mav_name)2"/>
      <arg name="y" value="0.0"/>
       <arg name="x" value="-0.3"/>
    </include>
  </group>

<arg name = "sdf" default = "$(find rotors_gazebo)/models/payload_rec/payload_rec.sdf"/>
<!--<arg name = "obstacle_sdf" default = "$(find rotors_gazebo)/models/obstacle/obstacle.sdf"/>-->

<group ns = "payload">
        <node name="payload_rec" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-sdf -file $(arg sdf)
        -model payload
        -x 0.5
        -y 0
        -z 0
        -R 0
        -P 0
        -Y 0"/>
</group>



</launch>
